<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  {{! Page title }}
  <title>{{meta_title}}</title>

  {{! IE compatibility }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

  {{! Responsive viewport scaling }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{! SEO & Open Graph tags }}
  <meta name="description" content="{{meta_description}}">
  <meta property="og:site_name" content="{{@blog.title}}"/>
  {{{block "metaTags"}}} {{! Grabs extra meta tags from post/page content }}

  {{! If you have favicons, link them here }}

  {{! If you want custom typefaces, load them here
  <script src="//use.typekit.net/kny8cyv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script> }}

  {{! Load main styles }}
  <link rel="stylesheet" href="{{asset "css/style.css"}}">

  {{! Vendor styles}}
  <link rel="stylesheet" href="{{asset "vendor/highlightjs/styles/monokai.css"}}">

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{! ALMOST EVERYTHING BELOW THIS POINT SHOWS UP ON SCREEN }}


  {{! The main header, which appears on every page }}
  <header role="banner" class="site-header">
    
    <div class="container">
              
      <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1> 

      {{#if @blog.description}}
      <h2 class="site-description meta">{{@blog.description}}</h2>
      {{/if}}

      {{!--  
      {{#if @blog.navigation}}
        <nav class="site-navigation">{{navigation}}</nav>
      {{/if}}
       --}}
    </div>

  </header>

  
  <div class="container">

    {{! Everything else gets inserted here }}
    {{{body}}}

  </div>

  {{! Email capture, which appears on every page}}
  <aside class="banner">
    <div class="container">

      <p class="lead form-headline">We'll help you stay one step ahead.</p>

      <div id="mc_embed_signup">
        <form action="//nndesign.us6.list-manage.com/subscribe/post?u=2b31e761b0b66e90bd526794c&amp;id=37bec5368c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group form-control">
              <label for="mce-FNAME">First Name</label>
              <input type="text" name="FNAME" id="mce-FNAME">
            </div>
            <div class="mc-field-group form-control">
              <label for="mce-EMAIL">Email Address <span class="asterisk"></span></label>
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none">
              </div>
              <div class="response" id="mce-success-response" style="display:none">
              </div>
            </div>
            <div style="position:absolute;left:-5000px">
              <input name="b_2b31e761b0b66e90bd526794c_37bec5368c" tabindex="-1">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </form>
      </div>


    </div>
  </aside>

  {{! The main footer, which appears on every page }}
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      
      {{! Dynamic copyright outputs the current year and the title of the blog }}
      <p class="copyright">&copy;{{date format="YYYY"}} {{@blog.title}}, All rights reserved. Results of any kind cannot be guaranteed. Made with crabs in Baltimore.</p>

    </div>
  </footer>


  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! Vendor scripts}}
  <script src="{{asset "vendor/jquery.fitvids/jquery.fitvids.js"}}"></script>
  <script src="{{asset "vendor/highlightjs/highlight.pack.js"}}"></script>

  {{! Load theme JS}}
  <script src="{{asset "js/scripts.js"}}"></script>

</body>
</html>