{{!< default}} {{! Get the default layout }}

<main role="main">


  <section class="posts-list">
  {{#foreach posts}}

    <article role="article" class="{{post_class}}">

      <h1><a href="{{url}}">{{title}}</a></h1>

      <aside class="post-meta">
        <p class="meta">Published <span><time class="post-date">{{date format='MMMM DD, YYYY'}}</time></span> by <span>{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</span> on <span>{{tags}}</span></p>
      </aside>
      
    </article>

  {{/foreach}}
  </section>  
  
  {{pagination}}
  
</main>