{{!< default}} {{! Get the default layout }}

<main role="main">


  <section class="posts-list">
  {{#foreach posts}}

    <article role="article" class="{{post_class}}">

      <a href="{{url}}"><h2 class="post-title">{{title}}</h2></a>

      <aside class="post-meta">
        <p class="meta">Published <span><time class="post-date">{{date format='MMMM DD, YYYY'}}</time></span> by <span>{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</span> on <span>{{tags}}</span></p>
      </aside>
      
{{!--       {{#if image}}
        <figure class="post-image">
          {{image}}
        </figure>
      {{/if}} --}}

    </article>

  {{/foreach}}
  </section>  
  
  {{pagination}}
  
</main>