{{!< default}} {{! Get the default layout }}

<main role="main">
  
  {{#post}}

    <article role="article" class="{{post_class}}">

      <header class="post-header">

        <h1 class="page-title">{{title}}</h1>

        <aside class="post-meta">
          <p class="meta">Published <span><time class="post-date">{{date format='MMMM DD, YYYY'}}</time></span> by <span>{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</span> on <span>{{tags}}</span></p>
        </aside>

      </header>
      
      {{#if image}}
        <figure class="post-image">
          {{image}}
        </figure>
      {{/if}}

      <section class="post-content">
        {{content}}
      </section>

      <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>
      <br>

      <div class="ck_form ck_vertical_subscription_form">
        <h2 class="ck_form_title" style="margin-top: 0;">If you learned something, <br>join our mailing list.</h2>
        <div class="ck_description">
          <p>Get our latest content by email, before anyone else in the world.</p>
        </div>
        <div class="ck_form_fields">
          <div id='ck_success_msg'  style='display:none;'>
            <p>Success! Now check your email to confirm your subscription, so you don&#x27;t miss anything.</p>
          </div>
          <!--  Form starts here  -->
          <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/4143/subscribe" data-remote="true">
            <input type="hidden" value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options"></input>
            <input type="hidden" name="id" value="4143" id="landing_page_id"></input>
            <div class="ck_errorArea">
              <div id="ck_error_msg" style="display:none">
                <p>There was an error submitting your subscription. Please try again.</p>
              </div>
            </div>
            <div class="ck_control_group ck_first_name_field_group">
              <label class="ck_label" for="ck_firstNameField">First Name</label>
              <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField"></input>
            </div>
            <div class="ck_control_group ck_email_field_group">
              <label class="ck_label" for="ck_emailField">Email Address</label>
                <input type="email" name="email" class="ck_email_address" id="ck_emailField" required></input>
            </div>

            <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
              Subscribe
            </button>
            <span class="ck_guarantee">
              We won&#x27;t send you spam, and you can unsubscribe at any time.
                <a class="ck_powered_by" href="http://convertkit.com/?utm_campaign=poweredby">Powered by ConvertKit</a>
            </span>
          </form>
        </div>
      </div>

    </article>
    
    <aside class="author media">
      {{#author}}

        {{#if image}}
          <img class="media-img author-image" src="{{image}}" alt="A picture of {{name}}">
        {{/if}}

        <div class="media-body">
          <h5 class="author-name">About {{name}}</h5>

          {{#if bio}}
            <p class="author-bio">{{bio}} <span class="author-more"><a href="{{url}}">See more articles by {{name}} »</a></span></p>
          {{/if}}

        </div>
      {{/author}}
    </aside>

    {{! Grab Disqus from partials }}
    {{> disqus}}

  {{/post}}

</main>
