{{!< default}} {{! Get the default layout }}

<main role="main">
  
  {{#tag}}

  <header class="tag-header">

    <h1>All posts on <em>{{name}}</em></h1>
    <p class="tag-description">{{description}}</p>

  </header>

  {{/tag}}
  
  <hr>

  <section class="posts-list">
  {{#foreach posts}}

    <article role="article" class="{{post_class}}">

      <a href="{{url}}"><h1>{{title}}</h1></a>

      <aside class="post-meta">
        <p class="meta">Published <span><time class="post-date">{{date format='MMMM DD, YYYY'}}</time></span> by <span>{{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</span> on <span>{{tags}}</span></p>
      </aside>

    </article>

  {{/foreach}}
  </section>  
  
  {{pagination}}
  
</main>